@model JustBlog.Models.ListViewModel
@{
    ViewBag.ActiveTab = "blogtab";
}
<div id="content">
    <h1>@ViewBag.Title</h1>
    <div class="row-fluid clearfix">
        <div class="span9 column ui-sortable">
            @Html.Partial("_Pager", Model)
            @if (Model.Posts.Count > 0)
            {
                foreach (var post in Model.Posts)
                {
                @Html.Partial("_PostTemplate", post)
                }
            }
            else
            {
                <p>
                    No posts found!</p>
            }
            @Html.Partial("_Pager", Model)
        </div>
        <div class="span3 column ui-sortable">
            <div class="container-fluid">
                @Html.Partial("_Search")
                @Html.Action("Sidebars")
            </div>
            @*
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <div class="well sidebar-nav">
                        <br />
                        <br />
                        <br />
                        
                    </div>
                    <!--/.well -->
                </div>
                <!--/span-->
            </div>
            </div>
*@
        </div>
    </div>
