<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Santokh Blog</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script src="@Url.Content("~/Scripts/app.js")"></script>
</head>
<body>
    <header>
           <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                        <a class="brand" href="#">Santokh Blog - Simply Blogging</a>
                        
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li id="homeTab">@Html.ActionLink("Home", "Index", "Home")</li>
                                <li id="blogtab"> @Html.ActionLink("Posts", "Posts", "Blog")</li>
                                <li id="aboutTab">@Html.ActionLink("About", "About", "Home")</li>
                                <li id="contactTab">@Html.ActionLink("Contact", "Contact", "Home")</li>
                            </ul>
                                        
                                              
                           
                                    
                            <!--
                             <ul class="nav navbar-nav navbar-right">
                            <form class="navbar-form navbar-right">
                            
                            <input type="text" class="form-control col-lg-8" placeholder="Search Blog">
                            <input type="submit" value="Search Posts" class="btn btn-primary" />
                            </form>
                            </ul>
                            <form action="" class="navbar-search pull-right">
                            @Html.Partial("_LoginPartial")
                                                <input type="text" placeholder="Search" class="search-query span12">
                                                <input type="submit" value="Search Posts" class="btn btn-primary" />
                                              </form>
                                              -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
    <div id="body">
        <div class="container">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
        </div>
    </div>
    <footer>
            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <div class="navbar-inner">
                	<div class="container-fluid">
                        <ul class="nav">
                        	<li><p>CopyRight &copy; @DateTime.Now.Year Santokh Singh|<a href="http://blog.developerfusion.in"> Developerfusion.in</a> </p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/application")
    <script>
            @if (!string.IsNullOrWhiteSpace(ViewBag.ActiveTab))
            {
                @:activeTab = '@ViewBag.ActiveTab';
            }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
