@model JustBlog.Core.Objects.Post
@using System.Web.Mvc.Html
@using JustBlog
@*<div class="hero-unit well">*@
    <table class="table table-bordered table-hover" contenteditable="false">
        <thead>
            <tr class="warning">
                <th><h2> @Html.PostLink(Model)</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="info">
                <td><span>Category: </span>@Html.CategoryLink(Model.Category)</td>
            </tr>
            <tr class="error">
                <td><span>Tags:</span>@Helpers.Tags(Html, Model.Tags)</td>
            </tr>
            <tr class="success">
                <td><span>Post Date: </span> @Model.PostedOn.ToConfigLocalTime()
                </td>
            </tr>
            <tr class="danger">
                <td>@Html.Raw(@Model.ShortDescription)</td>
            </tr>
            <tr class="info">
                <td>
                    @Html.ActionLink("continue...", "post", "blog",
                                        new
                                        {
                                            year = Model.PostedOn.Year,
                                            month = Model.PostedOn.Month,
                                            day = Model.PostedOn.Day,
                                            title = Model.UrlSlug
                                        },
                                        new { title = "continue..." }
                                        )
                </td>
            </tr>
        </tbody>
    </table>

@*
    <div class="post-meta">
        <div class="row">
            <!--Heading-->
            <div class="post-title">
                <h2>@Html.PostLink(Model)</h2>
            </div>
        </div>
        <div class="row">
            <!--Category-->
            <div class="post-category">
                <span>Category: </span>@Html.CategoryLink(Model.Category)
            </div>
            <!--Tags-->
            <div class="post-tags">
                <span>Tags:</span>@Helpers.Tags(Html, Model.Tags)
            </div>
            <!--Posted date-->
            <div class="posted-date">
                @Model.PostedOn.ToConfigLocalTime()
            </div>
        </div>
    </div>
    <!--Short Description-->
    <div class="post-body">
        @Model.Description
    </div>
    <div class="post-foot">
        @Html.ActionLink("continue...", "post", "blog",
new
{
    year = Model.PostedOn.Year,
    month = Model.PostedOn.Month,
    day = Model.PostedOn.Day,
    title = Model.UrlSlug
},
new { title = "continue..." }
)
    </div>
*@

@*</div>*@
